/*
Buttons
 */
.btn {
  display: inline;
  border-radius: 6px;
  background: var(--main-vivid-blue);
  padding: 16px 24px;
  width: fit-content;
  color: var(--neutral-50);
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-decoration: none;
  text-wrap: nowrap;
}

.btn--grow {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition:
      top,
      right,
      bottom,
      left,
      0.3s ease-in-out;
    border: var(--main-vivid-blue) 6px solid;
    border-radius: 6px;
    content: "";
  }

  &:hover::before,
  &:focus::before {
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
  }
}

.btn-alt {
  border: solid var(--main-vivid-blue) 1px;
  background-color: transparent;
  color: var(--main-vivid-blue);
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.btn-alt--transition {
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--main-vivid-blue);
    color: var(--secondary-50);
  }
}

/* Deprecated */
.btn-alt-gold {
  border: solid var(--main-vivid-blue) 1px;
  background-color: transparent;
  color: var(--main-vivid-blue);
}
