.faq-summary {
  position: relative;
  cursor: pointer;

  &::marker {
    content: "";
  }

  &::before,
  &::after {
    /* Anchor the shape to the summary */
    position: absolute;
    top: 2rem;

    /* Positions the lines */
    inset-block-start: 50%;
    inset-inline-end: 0;
    border-radius: 3px;
    background-color: var(--neutral-900);
    width: 1rem;
    height: 0.2rem;
    /* Custom marker dimensions */
    content: "";
    @media (width >= 992px) {
      right: 1rem;
    }
  }

  /* Rotate just the ::after line to create a "+"" shape */

  &::after {
    transform: rotate(90deg);
    transform-origin: 50%;
    transition: transform 0.2s ease-in-out;
  }
}

details[open] .faq-summary::after {
  transform: rotate(180deg);
}

.faq-details > p {
  padding: 0 1rem 1rem;
}
