.form-holder {
  background-color: var(--secondary-900);
}

.general-section-light {
  display: flex;
  background-color: var(--secondary-50);
  color: var(--primary-900);
}

.general-section-dark {
  display: flex;
  background-color: var(--primary-900);
  color: var(--primary-50);
}

.contactActionLinksAnchor {
  color: var(--main-light-blue);
  text-decoration: underline;
}

.general-heading-light {
  background: var(--neutral-900);
  color: var(--secondary-50);
}

.general-heading-dark {
  background: var(--neutral-50);
  color: var(--secondary-900);
}

.general-heading-main {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
}

.general-sub-heading-main {
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 47px;
  font-family: "Inter", sans-serif;
}

.general-sub-heading-light {
  color: var(--neutral-900);
}

.general-sub-heading-dark {
  color: var(--neutral-50);
}

.heading-underline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 0;
}

/* Styling for vertical screens*/
@media (max-width: 992px) {
  .general-section-dark,
  .general-section-light {
    flex-direction: column;
  }

  .general-section-container {
    padding: 3% !important;
    width: 100%;
  }
}

/* Styling for horizontal screens*/
@media (min-width: 992px) {
  .general-section-container {
    width: 50%;
  }

  .general-section-container {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
  }

  .general-section-container:first-child {
    padding-right: 1%;
    padding-left: 5%;
  }

  .general-section-container:last-child {
    padding-right: 5%;
    padding-left: 1%;
  }
}

.primary-link--underline {
  cursor: pointer;
  border-bottom: 1.5px solid var(--main-vivid-blue);
  color: var(--main-vivid-blue);
  font-weight: bold;
  text-decoration: none;
}
