/* Reusable Tailwind styles: mx-auto max-w-[calc(var(--screen-xxl)_+_80px)] px-6 lg:px-10 */
.page-container {
  margin: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 992px) {
    padding: 0 2.5rem;
  }
}

/*

   ╭───────────────────────────────────────────────────╮
   │  |    Split layout 1    |    Split layout 2    │  |
   ╰───────────────────────────────────────────────────╯
 */
.page-split {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5rem;
  row-gap: 2.5rem;
  margin: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5rem;
  }
}

.split-page {
  display: flex;
  width: 100%;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .split-page > div {
    width: 50%;
    flex-shrink: 1;
    flex-basis: 0;
  }

  .split-page > div:first-child {
    padding-left: calc((100% - (var(--screen-xxl) + 80px)) / 2 + 2.5rem);
    padding-right: calc(8 * var(--spacing));
    margin-right: 0;
  }

  .split-page > div:last-child {
    margin-left: 0;
    padding-left: calc(8 * var(--spacing));
    padding-right: calc((100% - (var(--screen-xxl) + 80px)) / 2 + 2.5rem);
  }
}

/*
  <h1> tags on the homepage have a smaller text size and a rounded border.
   ╭──────────╮
   │ Header 1 │
   ╰──────────╯
*/
.heading-main {
  margin-bottom: 0.75rem;
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

/*
  Pages have a top margin due to the fade on-scroll animation requiring a transparent navbar.
 */
.toolbar-after-content {
  margin-top: var(--navbar-height);
}

.toolbar-after-content-with-banner {
  margin-top: var(--navbar-height-with-banner);
}

.sharpen {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}