/* Reusable Tailwind styles: mx-auto max-w-[calc(var(--screen-xxl)_+_80px)] px-6 lg:px-10 */
.page-container {
  margin: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 992px) {
    padding: 0 2.5rem;
  }
}
/*

   ╭───────────────────────────────────────────────────╮
   │  |    Split layout 1    |    Split layout 2    │  |
   ╰───────────────────────────────────────────────────╯
 */
.page-split {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5rem;
  }
}

/*
  <h1> tags on the homepage have a smaller text size and a rounded border.
   ╭──────────╮
   │ Header 1 │
   ╰──────────╯
*/
.heading-main {
  border-radius: 8px;
  padding: 10px;
  width: fit-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

/*
  Pages have a top margin due to the fade on-scroll animation requiring a transparent navbar.
 */
.toolbar-after-content {
  margin-top: var(--navbar-height);
}

.toolbar-after-content-with-banner {
  margin-top: var(--navbar-height-with-banner);
}
