@import "./typography.css";
@import "./layout.css";
@import "./general.css";
@import "../../components/layout/footer.css";
@import "../../components/layout/navbar.css";
@import "../../components/layout/navbar-menu.css";
@import "../../components/ui/button/button.css";
@import "../../components/ui/instructions/instructions.css";
@import "../../components/ui/timeline/timeline.css";
@import "../(home)/home.css";
/* Include all styles here 👆. PostCSS will bundle this into 1 file. */

/*
Global styles for the Open Fresno website.

This project also includes Tailwind CSS preflight styles.
@See https://tailwindcss.com/docs/preflight
 */
h1,
h2,
h3,
h4,
h5 {
  text-wrap: pretty;
}

body {
  background-color: var(--main-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @media (min-width: 576px) {
    font-size: 18px;
    line-height: 28px;
  }
}
