.sidebar-section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);

  @media (min-width: 992px) {
    padding: 0 2.5rem;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
