/*
The main application navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section

===================================================================
| ( LOGO ) |          Home    About    Contact          [v] Expand |
===================================================================

NOTE: The navbar inherits it's background (not explicitly set) because it is designed to be transparent. If you want a solid background, remove the transparency in the React component styles and add a background color.
*/
.navbar-container {
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--neutral-300);
  width: 100%;
  height: var(--navbar-height);
  @media screen and (min-width: 992px) {
    border: none;
  }
}

.navbar-toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 8px;
  max-width: calc(var(--screen-xxl) + 72px);
  height: 100%;
  @media (min-width: 992px) {
    padding: 0 24px;
  }
}

.navbar-middle-section {
  display: none;
  position: relative;
  gap: 3.125rem;
  height: 100%;
  @media screen and (min-width: 992px) {
    display: inline-flex;
    align-items: center;
  }
}

.navbar-link {
  z-index: 15;
  padding: 1rem;
}

.navbar-underline {
  position: absolute;
  top: 70%;
  z-index: 10;
  transition: 0.3s ease-in-out;
  background-color: var(--neutral-900);
  width: 5rem;
  height: 2px;
}

/* Sibling selectors to position the underline */
.navbar-link--selected__one ~ .navbar-underline {
  left: 0.25rem;
}

.navbar-link--selected__two ~ .navbar-underline {
  left: calc(0.25rem * 35);
}

.navbar-link--selected__three ~ .navbar-underline {
  left: calc(0.25rem * 71.5);
}

.navbar-toggle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 0.8rem;
  padding-left: 1rem;
  color: var(--main-vivid-blue);
}
