/* Navigation bar extended drop down menu */
.navbar-extended-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ebeae5;
  background: var(--secondary-50);
  padding: 1.75rem 0;
  width: 100%;
}

.navbar-extended-mobile-container {
  margin: auto;
  padding: 0 1.5rem;
  @media (min-width: 992px) {
    display: none;
  }
}

.navbar-extended-desktop-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 3rem;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  height: 100%;
  @media (min-width: 992px) {
    display: grid;
  }
  @media (min-width: 1400px) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.navbar-extended-desktop-section {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  gap: 1.25rem;
  height: 100%;
  @media (min-width: 1400px) {
    max-width: 18.75rem;
  }
}

.navbar-extended-header {
  width: 13.75rem;
  white-space: nowrap;
}

.navbar-extended-link {
  cursor: pointer;
  border-bottom: 1.5px solid var(--main-vivid-blue);
  color: var(--main-vivid-blue);
  font-weight: bold;
  text-decoration: none;
}
