@use "../abstracts/mixins";
@use "../abstracts/variables";

.general-heading-section {
  background-color: variables.$secondary-900;
  color: variables.$secondary-50;
  @include mixins.h1-section;
  margin: 0;
  border: 10px solid variables.$secondary-900;
  border-radius: 8px;

  width: fit-content;
}

.general-heading-section-alt {
  color: variables.$secondary-500;
}

.sub-heading {
  @include mixins.h2-semi-bold;
  margin: 10px 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h3-semi-bold;
  }
}

//.pitch-heading-section-sub {
//  margin: 10px 0;
//  @include h2-semi-bold;
//  color: $neutral-50;
//
//  @media (max-width: $screen-sm) {
//    @include h1-small-semi-bold;
//  }
//}
//
.sub-heading-large {
  @include mixins.h1-semi-bold;
  margin: 10px 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h1-small-semi-bold;
  }
}

.heading-paragraph-color {
  color: variables.$neutral-900;
}

.heading-paragraph-color-dark {
  color: variables.$neutral-50;
}

.heading-paragraph-large {
  @include mixins.subheading-regular;
  margin: 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
  }
}

.underline-header-container {
  position: relative;
}

.heading-underline::after {
  position: absolute;
  border-bottom: 4px solid variables.$neutral-900;
  width: 43px;
  height: 1px;
  content: "";
}

.underline-alt::after {
  border-bottom: 4px solid variables.$neutral-50;
}

.dark-heading-container {
  position: relative;
}

.dark-heading-container::after {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 4px solid variables.$neutral-50;
  width: 43px;
  height: 1px;
  content: "";
}
