@use "../abstracts/variables";
@use "../abstracts/mixins";

/*
conduct page layout
 */
.conduct-light-theme {
  background-color: variables.$secondary-50;
  color: variables.$neutral-900;
}

.conduct-dark-theme {
  background-color: variables.$neutral-900;
  color: variables.$neutral-50;
}

.conduct-grey-theme {
  background-color: variables.$neutral-500;
  color: variables.$neutral-50;
}

.conduct-section-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 96px 80px;

  @media (max-width: variables.$screen-md) {
    padding: 96px 60px;
  }

  @media (max-width: variables.$screen-md) {
    flex-direction: column;
    padding: 48px 40px;
  }
}

.conduct-section-heading-container {
  position: relative;
  width: 100%;
}

.conduct-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 80px;

  @media (max-width: variables.$screen-md) {
    gap: 24px;
    padding: 0 25px 48px 25px;
  }
}

.conduct-sub-h1-heading {
  @include mixins.h1-small-semi-bold;
  margin: 12px 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.h3-semi-bold;
  }
}

.conduct-sub-heading {
  @include mixins.subheading-bold;
  margin: 10px 0;
  width: 100%;
  text-align: left;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-bold;
  }
}

.conduct-numbered-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 10px;
  width: 100%;

  @media (max-width: variables.$screen-md) {
    align-items: flex-start;
    gap: 16px;
    padding: 0;
  }
}

.conduct-item-image {
  width: 10vw;
  max-width: 80px;
  height: 10vw;
  max-height: 80px;
}

.conduct-item-paragraph {
  @include mixins.subheading-regular;
  margin: 0;
  width: 100%;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
  }
}

.conduct-paragraph-anchor {
  color: variables.$neutral-50;
}

// Policies

.conduct-policy-landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 96px 80px 40px 80px;

  @media (max-width: variables.$screen-md) {
    padding: 48px 40px 0 40px;
  }
}

.conduct-policy-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 80px;

  @media (max-width: variables.$screen-md) {
    gap: 40px;
    padding: 48px 40px;
  }
}

// Email template
.conduct-email-header-container {
  padding: 48px 80px 24px 80px;

  @media (max-width: variables.$screen-md) {
    padding: 48px 25px 0 25px;
  }
}

.conduct-email-template-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 80px 40px 80px;

  @media (max-width: variables.$screen-md) {
    padding: 32px 25px 48px 25px;
  }
}
