@use "../abstracts/variables";
@use "../abstracts/mixins";

/*
FAQ page layout.
 */

.faq-heading-section-sub {
  max-width: 450px;
}

.faq-main {
  border-bottom: 1px solid variables.$neutral-900;
  background-color: variables.$secondary-50;
  padding-bottom: 50px;
}

.faq-container-margins {
  margin: 0 80px;

  @media (max-width: variables.$screen-md) {
    margin: 0 40px;
  }
}

.faq-container {
  background-color: variables.$secondary-500;
}

.faq-nav-light {
  margin: 0 80px;
  border: 1px solid variables.$primary-500;
  border-right: none;
  border-left: none;
  color: variables.$neutral-900;

  @media (max-width: variables.$screen-md) {
    margin: 0 40px;
  }
}

.faq-nav {
  justify-content: left;
  padding: 20px;
}

.faq-nav a {
  @include mixins.nav-semi-bold;
  display: inline-block;
  margin-right: 20px;
  padding: 5px 0;
  color: variables.$neutral-50;
  text-decoration: underline;
  text-underline-offset: 4px;

  @media (max-width: variables.$screen-lg) {
    font-size: 16px;
  }

  @media (max-width: variables.$screen-md) {
    display: block;
    width: 100%;
    font-size: 20px;
  }
}

.faq-container-margins h3 {
  @include mixins.h4-semi-bold;
  margin-top: 40px;
  padding: 40px 0;

  @media (max-width: variables.$screen-md) {
    @include mixins.h5-semi-bold;
  }
}

.faq-container-margins h3:first-child {
  margin-top: 0;
}

.faq-container-margins h4 {
  @include mixins.h5-semi-bold;
  padding: 24px 0;

  @media (max-width: variables.$screen-md) {
    font-weight: 700;
    font-size: 16px;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.faq-question a,
details h4 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question a::after,
details h4::after {
  display: block;
  flex-shrink: 0;
  margin: 10px 0 10px auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6.5V12.5M12 12.5V18.5M12 12.5H18M12 12.5H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  content: "";
}

.faq-question.question-open a::after,
details[open] h4::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 12H6' stroke='%23060718' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  content: "";
}

.question-text,
details p {
  @include mixins.p3-regular;
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;
  max-width: 1060px;
  color: variables.$neutral-900;

  @media (max-width: variables.$screen-md) {
    color: variables.$neutral-800;
    @include mixins.p2-regular;
  }
}

.question-open .question-text {
  display: block;
}

.faq-question,
details {
  border-top: 1px solid variables.$neutral-400;
  padding: 0 20px;
}

.faq-section-paragraph {
  @include mixins.p3-regular;
  margin: 0;

  @media (max-width: variables.$screen-sm) {
    @include mixins.p2-regular;
  }
}

.faq-section-heading-underline::after {
  position: absolute;
  border-bottom: 4px solid variables.$neutral-900;
  width: 43px;
  height: 1px;
  content: "";
}
