@use "../abstracts/variables";
@use "../abstracts/mixins";

/*
Layout, text and color styles for the not found page. This is used in app/error.jsx.
 */
.not-found-container {
  display: grid;
  background-color: variables.$secondary-50;
  min-height: 100dvh;
  text-align: center;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 8rem 1rem;

  @media (min-width: variables.$screen-md) {
    align-self: center;
    margin: 0 2rem;
  }
}

.not-found-text {
  @include mixins.p3-regular;
  color: variables.$neutral-500;
  @media (max-width: variables.$screen-sm) {
    display: inline;
  }
}

.not-found-link {
  @include mixins.h5-semi-bold;
  color: variables.$vivid-blue;
}

.not-found-content-title-large {
  @include mixins.h1-bold;
}

.not-found-content-title-small {
  @include mixins.subheading-medium-bold;
}
