.footer-top-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: auto;
  padding: 3rem 1.5rem;
  width: 100%;
  max-width: calc(var(--screen-xxl) + 80px);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2.5rem;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 4rem;
  }
}

.footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-link--underline {
  cursor: pointer;
  color: var(--primary-900);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: fit-content;
}

.footer-link--underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-900);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer-link--underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-bottom-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  margin: auto;
  padding: 2rem 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.5rem;
  }
}

.footer-socials {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  justify-content: flex-start;

  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}

.caption-footer {
  font-size: 0.875rem;
  color: #666;
}
