.btn {
  display: inline-block;
  border-radius: 6px;
  background: var(--main-vivid-blue);
  padding: 16px 24px;
  width: fit-content;
  color: var(--neutral-50);
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-decoration: none;
  text-wrap: nowrap;
  @media (max-width: 500px) {
    padding: 0.6rem 0.7rem;
    font-size: 0.9rem;
  }
  @media (max-width: 300px) {
    padding: 0.6rem 0.3rem;
    font-size: 0.7rem;
  }
}

.btn--grow {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition:
      top,
      right,
      bottom,
      left,
      0.3s ease-in-out;
    border: var(--main-vivid-blue) 6px solid;
    border-radius: 6px;
    content: "";
  }

  &:hover::before,
  &:focus::before {
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
  }
}

.btn-small {
  display: inline;
  cursor: pointer;
  border-radius: 6px;
  background: var(--main-vivid-blue);
  padding: 8px 12px;
  width: fit-content;
  color: var(--neutral-50);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 18px;
  text-decoration: none;
  text-wrap: nowrap;
}

.btn-alt {
  border: solid var(--main-vivid-blue) 1px;
  background-color: transparent;
  color: var(--main-vivid-blue);
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.btn-alt-white {
  border: solid var(--main-vivid-blue) 1px;
  background-color: transparent;
  color: var(--neutral-50);
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.btn-alt--transition {
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--main-vivid-blue);
    color: var(--secondary-50);
  }
}

.navbar-toggle-button {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  width: fit-content;
  color: var(--main-vivid-blue);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.navbar-toggle-button--desktop {
  display: none;
  @media (min-width: 996px) {
    display: inline-flex;
  }
}

.navbar-toggle-button--mobile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  width: fit-content;
  @media (min-width: 996px) {
    display: none;
  }
}

/* Deprecated */
.btn-alt-gold {
  border: solid var(--main-vivid-blue) 1px;
  background-color: transparent;
  color: var(--main-vivid-blue);
}
