@use "../abstracts/variables.scss";
@use "../abstracts/mixins";

/*
Navigation bar extended drop down menu.
*/

.dropdown-menu {
  width: 100%;
  max-width: 1320px;
  background: variables.$secondary-50;
}

.navbar-extended-desktop-section-item {
  display: block;
  max-width: 257px;
}

.navbar-extended-button {
  display: block;
  cursor: pointer;
  border: 1px solid variables.$secondary-500 !important;
  border-radius: 6px;
  background-color: variables.$secondary-300 !important;
  padding: 8px 12px !important;
  width: fit-content;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 16px;
}

.dropdown-menu .navbar-extended-text-wrapper-2 {
  @include mixins.h4-semi-bold;
  position: relative;
  width: 220px;
  color: variables.$neutral-900;
  white-space: nowrap;
}

.text-wrapper-3 {
  cursor: pointer;
  color: variables.$primary-900;
  text-decoration: none;
  @include mixins.p-footer-bold;
  border-bottom: 1px solid variables.$primary-900;
}

.dropdown-menu .navbar-extended-desktop-section-content {
  @include mixins.p1-regular;
  padding: 20px 0;
  color: variables.$neutral-900;
}

.dropdown-menu .section-content-2 {
  @include mixins.p-footer;
  padding-top: 20px;
  color: variables.$neutral-900;
}

.navbar-extended-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-extended-mobile-content ul::before {
  content: "";
}

.navbar-extended-mobile-section li.active a {
  background: variables.$neutral-900;
  color: variables.$secondary-50;
}

.navbar-extended-desktop-container {
  display: none;
  padding: 40px 0;

  a {
    color: variables.$neutral-900 !important;
  }
}

.navbar-extended-mobile-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}

.navbar-extended-mobile-content-button-01 {
  cursor: pointer;
  background: transparent url("/img/navbar/menu_chevron_right.png") no-repeat
    center right;
  padding: 0 18px 0 0;
  color: variables.$secondary-500;
}

.navbar-extended-mobile-content-button-02 {
  cursor: pointer;
  background: transparent url("/img/navbar/menu_chevron_left.png") no-repeat
    center left;
  padding: 0 0 0 17px;
  color: variables.$secondary-500;
}

.mobile-nav-link {
  flex-basis: 100%;
  @include mixins.h5-semi-bold;
}

.navbar-extended-mobile-container {
  padding: 16px;
  height: 100%;
  color: variables.$secondary-50 !important;
}

@media (min-width: variables.$screen-lg) {
  .navbar-extended-desktop-section-item {
    padding: 0 20px;
    max-width: max-content;
  }
  .navbar-extended-desktop-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: start;
    width: 100%;
    grid-gap: 10px;
  }

  .navbar-extended-mobile-container {
    display: none;
  }
}

@media (min-width: variables.$screen-xxl) {
  .navbar-extended-desktop-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .navbar-extended-desktop-section-item {
    display: block;
    max-width: 257px;
  }
}
