@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/animations.scss";

/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */
// Background behind the navbar. It requires the navbar to be transparent and offset page content. By default, this is not shown; it is overridden by the navbar-toolbar background color.
.navbar-container {
  position: fixed;
  top: 0;
  margin: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: variables.$neutral-300;
  padding: 0;
  width: 100%;
  @include mixins.h5-semi-bold;
  z-index: 5;
  height: variables.$navbar-height;

  a {
    text-decoration: none;
  }

  &--fade {
    background: transparent;
  }

  @media screen and (min-width: variables.$screen-lg) {
    border: none;
  }
}

.navbar-toolbar-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navbar-toolbar-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  max-width: 1472px;
}

.navbar-link-list-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.navbar-link {
  z-index: 15;
  padding: 1rem;
}

.navbar-link-selected {
  font-weight: bold;
}

.navbar-left-section {
  display: inline-flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
}

.navbar-middle-container {
  display: inline-flex;
  padding: 10px 0;
}

.navbar-middle-section {
  display: none;
  position: relative;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  @media screen and (min-width: variables.$screen-lg) {
    display: inline-flex;
  }
}

.one ~ .navbar-underline {
  display: block;
  margin-left: -82%;
}

.two ~ .navbar-underline {
  display: block;
  margin-left: -27%;
}

.three ~ .navbar-underline {
  display: block;
  margin-left: 32%;
}

.navbar-underline {
  display: none;
  position: absolute;
  top: 82%;
  float: left;
  z-index: 10;
  transition: 0.3s ease-in-out;
  margin: 0;
  border: none;
  background-color: variables.$neutral-900;
  width: 80px;
  height: 2px;
}

.navbar-toggle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  color: variables.$vivid-blue;

  * {
    display: none;
  }

  &--collapsed {
    background: url("/img/navbar/chevron_down.svg") no-repeat center right;
    padding-right: 30px;
  }

  &--extended {
    background: url("/img/navbar/chevron_down.svg") no-repeat center right;
    padding-right: 30px;
  }

  // @media screen and (min-width: variables.$screen-lg) {
  //     background: transparent url("/img/navbar/chevron_down.svg") no-repeat center
  //       right;
  // }
}
