@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/animations.scss";

/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */

.toolbar-after-content {
  margin-top: variables.$toolbar-height;
}

.toolbar-after-content-with-banner {
  margin-top: variables.$toolbar-height-with-banner;
}

.toolbar-normal {
  height: variables.$toolbar-height;
}

.toolbar-height-with-banner {
  height: variables.$toolbar-height-with-banner;
}

// Background behind the navbar. It requires the navbar to be transparent and offset page content. By default, this is not shown; it is overridden by the navbar-toolbar background color.
.navbar-container {
  position: fixed;
  top: 0;
  z-index: 4;
  margin: 0;
  background: transparent;
  padding: 0;
  width: 100%;
}

.navbar-toolbar {
  @include mixins.h5-semi-bold;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  z-index: 5;
  background: variables.$landing-background-color;
  height: variables.$toolbar-height;
  color: variables.$secondary-50;

  a,
  .navbar-toolbar a:visited,
  .navbar-toolbar a:link {
    margin: 0;
    padding: 0;
    color: variables.$secondary-50;
    text-decoration: none;
  }
}

.navbar-toolbar-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-toolbar-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
}

.navbar-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.navbar-link-selected {
  font-weight: bold;
}

.navbar-left-container {
  display: inline-flex;
  padding: 10px 16px;
}

.navbar-left-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-middle-container {
  display: inline-flex;
  padding: 10px 0;
}

.navbar-middle-section {
  display: none;
  position: relative;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  @media screen and (min-width: variables.$screen-lg) {
    display: inline-flex;
  }
}

.one ~ .navbar-underline {
  display: block;
  margin-left: -86%;
}

.two ~ .navbar-underline {
  display: block;
  margin-left: -34%;
}

.three ~ .navbar-underline {
  display: block;
  margin-left: 23%;
}

.navbar-underline {
  display: none;
  position: absolute;
  top: 120%;
  float: left;
  transition: 0.3s ease-in-out;
  margin: 0;
  border: none;
  background: variables.$secondary-50;
  width: 80px;
  height: 2px;
}

.navbar-right-container {
  display: inline-flex;
  padding: 10px 16px;
  height: variables.$toolbar-height;
}

.navbar-right-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/navbar/menu_hamburger_light.svg") no-repeat center right;

  @media screen and (min-width: variables.$screen-lg) {
    background: transparent;
  }
}

.navbar-extended-button {
  cursor: pointer;
  outline: inherit;
  border: none;
  background: transparent;
  color: transparent;
  font: inherit;
}

.navbar-nested-parent-link {
  background: transparent;

  button {
    background-color: variables.$navbar-color;
  }
}

.navbar-toolbar-extended {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 0;
  box-shadow: 0 4px 4px 0 rgba(variables.$navbar-color, 0.25);
  padding: 0;
}

.navbar-extend-button-text {
  visibility: hidden;
}

.navbar-extend-background-active {
  .navbar-right-section {
    background: url("/img/navbar/menu_x.png") no-repeat center right;
  }

  @media screen and (min-width: variables.$screen-lg) {
    background: variables.$secondary-50;
    color: variables.$neutral-900;
    .navbar-right-section {
      background: inherit;
    }
  }
}

@media screen and (min-width: variables.$screen-lg) {
  .navbar-toolbar-extended {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #ebeae5;
    background-color: variables.$secondary-50;
  }

  .navbar-extend-button-text {
    display: inline;
    visibility: visible;
    color: inherit;
  }

  .navbar-toggle-extend-button {
    background: transparent url("/img/navbar/chevron_down.png") no-repeat center
      right;
    padding: 0 20px 0 0;
    color: variables.$secondary-500;
  }

  .navbar-toggle-extend-button-extended {
    background: transparent url("/img/navbar/chevron_up.png") no-repeat center
      right;
    padding: 0 20px 0 0;
    color: variables.$neutral-900;
  }
}
