/*
Home page layout.
 */

.home-landing-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 6rem;
  margin: auto;
  padding: 5rem 1.5rem 4rem 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 8.4rem 40px;
  }
}

.home-landing-image {
  position: relative;
  width: fit-content;

  @media (min-width: 992px) {
    margin-inline: auto;
    padding-inline-start: 4rem;
  }

  @media (min-width: 1280px) {
    margin-left: 6rem;
  }
}

.home-project-image {
  margin-top: 2rem;
  aspect-ratio: 2/1;
  width: 100%;
  object-fit: cover;
}

.home-split-image--main {
  margin-right: -1.5rem;
  width: 100%;
  max-width: 512px;
  @media (min-width: 992px) {
    margin-right: -2.5rem;
    max-width: 100%;
  }
}

.home-split-wide {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
  margin: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5rem;
  }
}

.home-split-wide {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
  margin: auto;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5rem;
  }
}

.home-timeline-header {
  display: none;
  margin-bottom: 6rem;
  padding: 0 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);
  @media (min-width: 768px) {
    display: block;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5rem;
  }
}
