/*
Home page layout.
 */
.home-landing-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 6rem;
  margin: auto;
  padding: 6.25rem 24px;
  max-width: calc(var(--screen-xxl) + 80px);

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 8.4rem 40px;
  }
}

.home-buttons-group {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.home-landing-image {
  position: relative;
  width: fit-content;

  @media (min-width: 992px) {
    margin-inline: auto;
    padding-inline-start: 4rem;
  }

  @media (min-width: 1280px) {
    margin-left: 6rem;
  }
}

.home-section-dark-container {
  position: relative;
}

.azdonate-section-underline::after {
  border-bottom: 8px solid var(--neutral-50);
  padding-bottom: 18px;
  width: 101px;
}

.home-section-paragraph-anchor {
  color: var(--neutral-900);
  font-weight: 700;
}

.home-about-image {
  background-image: url("/img/open_data_day_curved.png");
  background-position: right center;
  background-size: 45vw 40vw;
  background-repeat: no-repeat;

  @media (min-width: 1700px) {
    background-size: 40% 80%;
  }

  @media (max-width: 992px) {
    background-image: none;
  }
}

.home-section-action-image {
    position: relative;
    margin-left: 108px;
}

.home-numbered-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  margin: 40px 0 0 0;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

.home-numbered-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  max-width: 600px;
}

.home-numbered-header {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0;
  text-align: center;
}

.home-numbered-paragraph {
  text-align: center;
}

.home-projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  padding: 96px 80px;

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 48px 40px;
  }
}

.home-projects-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 50%;

  @media (max-width: var(--screen-xxl)) {
    width: 100%;
  }
}

.home-section-project-image {
  aspect-ratio: 2/1;
  width: 100%;
  object-fit: cover;
}

.azslide-content {
  width: 100%;
}

.azslide-content p {
  @media (max-width: 992px) {
    margin-bottom: 10px;
  }
}

.aztest {
  margin: auto;
  max-width: 100%;

  @media (min-width: 1300px) {
    max-width: 60%;
  }
}

.azpartnership-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 64px 80px;

  @media (max-width: 992px) {
    align-items: center;
    padding: 64px 40px;
  }
}

.azheading-underline-partnership::after {
  position: absolute;
  margin-bottom: 20px;
  border-bottom: 8px solid var(--secondary-50);
  width: 93px;
  height: 1px;
  content: "";
}

.azdonate-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 64px 80px;

  @media (max-width: 992px) {
    flex-direction: column;
    padding: 64px 40px;
  }
}

.azdonate-section-paragraph-container {
  display: flex;
  flex-direction: column;

  @media (max-width: var(--screen-xxl)) {
    width: 100%;
  }
}

.azheading-large-section-sub {
  margin: 10px 0;
}

.home-section-dark-paragraph {
  margin: 0 0 30px 0;
}

.home-projects-section-partnerships {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  gap: 48px;
  padding-left: 32px;

  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding: 0;
  }
}
