/*
Home page layout.
 */

.home-landing-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 6rem;
  margin: auto;
  padding: 6.25rem 1.5rem 4rem 1.5rem;
  max-width: calc(var(--screen-xxl) + 80px);

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 8.4rem 40px;
  }
}

.home-landing-image {
  position: relative;
  width: fit-content;

  @media (min-width: 992px) {
    margin-inline: auto;
    padding-inline-start: 4rem;
  }

  @media (min-width: 1280px) {
    margin-left: 6rem;
  }
}

.home-projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  padding: 96px 80px;

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 48px 40px;
  }
}

.home-section-project-image {
  margin-top: 2rem;
  aspect-ratio: 2/1;
  width: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
  /* Maintain the aspect ratio of the container. 
     (height of main image / width of main image) * 100 
     (577 / 596) * 100 = 96.81 */
  padding-top: 96.81%;
  /* You can add a max-width to control the overall size on large screens. */
  max-width: 596px;
}

.image-container .main-image {
  /* Set the main image to absolute and stretch it to fill the container. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-container .star-image {
  /* Position the star with percentages relative to the main image's container. */
  position: absolute;
  /* Adjust these values to match the desired position. */
  top: 30%; /* top-40 is roughly 30% of the container's height */
  left: -20%; /* -left-26 is roughly -20% of the container's width */
  /* Use a percentage for the star's width to make it scale. */
  width: 50%; /* Adjust this to control its size relative to the main image. */
  height: auto; /* Maintain aspect ratio */
}
