@use "../abstracts/variables.scss";
@use "../abstracts/mixins";
@use "../base/animations";

html,
body {
  background: variables.$secondary-50;
  scroll-behavior: smooth;
  scroll-padding-top: variables.$navbar-height;
  color: variables.$neutral-900;
}

a {
  color: inherit;
  text-decoration: underline;
}
