@use "../abstracts/variables";

html,
body {
  background: variables.$landing-background-color;
  scroll-behavior: smooth;
  scroll-padding-top: variables.$navbar-height;
}

a {
  color: inherit;
  text-decoration: underline;
}
